
<!-- HEADER -->
<% include templates/header.ejs %>
<!-- ENDS HEADER -->

<!-- MAIN -->
<div role="main" id="main">
    <div class="wrapper">

        <!-- page-content -->
        <div class="page-content">

            <h2 class="heading">About</h2>

            <p> PESNA(Project Especially Shaped for National Awareness)
                Este un proiect ce isi propune sa readuca valorile folclorului in era contemporana.
                Acesta are la baza un game engine ce construieste cadrul nivelelor.
                Hartile sunt create prin intermediul editorului integrat,mapele salvate, putand fi urcate pe site-ul proiectului pentru a fi jucate si de alti utilizatori.
                Nivelul construit este jucat printr-un 2d platformer, in care personajul trebuie sa treaca de diferite stagii pentru a descoperi povestea nivelului,
                iar in cele din urma fiind nevoit sa lupte cu rivalul acestuia.Editorul permite selectarea backgroundului, platformei, mobilor, rivalului
                principal si crearea povestii.Proiectul isi propune sa faciliteze lucrul in echipa, hartile create in editor putand fi realizate in echipa.
                Doritorii, facandu-si un cont, pot crea grupuri temporale in care sa lucreze impreuna, comunicare fiind intermediata de chatul integrat in editor.
                Odata ce unul dintre participanti face o schimbare asupra hartii aflate in creare, toti ceilalti participanti vor vedea demersurile in timp real.
                Aplicatia vine incarcata deja cu o mapa ce reda basmul lui Harap Alb,ce poate fi gasit oricand pe site. </p>

            <div class="c-1"></div>
            <div class="c-2"></div>
            <div class="c-3"></div>
            <div class="c-4"></div>
        </div><!-- ENDS page-content -->



    </div>
</div>
<!-- ENDS MAIN -->



<!-- FOOTER -->
<% include templates/footer.ejs %>
<!-- END FOOTER -->

