

<!-- HEADER -->
<% include templates/header.ejs%>
<!-- ENDS HEADER -->


<!-- MAIN -->
<div role="main" id="main">
  <div class="wrapper">

    <!-- SLIDER -->
    <div class="slider-wrapper theme-default theme-project theme-home">
      <div class="ribbon"></div>
      <div id="slider" class="nivoSlider">
        <img src="img/pesna_startscreen.png" alt="" />
        <a href="#"><img src="img/pesna_startscreen.png" alt="" title="Pesna start screen." /></a>
        <img src="img/pesna_startscreen.png" alt="" />
      </div>
    </div>
    <!-- ENDS SLIDER -->


      <!-- headline -->
    <div class="headline">
      Explore the beauty of traditional folk tales!
        </br>
    </div></br>
    <!-- ENDS headline -->


    <!-- Feature -->
    <ul id="filter-container-feature" class="feature">
      <li>
        <a href="#" class="thumb" ><img src="img/dummies/ghost.png" alt="" />
        </a>
        <div class="caption">The Ghost seeks revenge</div>
      </li>
      <li>
        <a href="#" class="thumb" ><img src="img/dummies/pesnas.png" alt="" />
        </a>
        <div class="caption">Pesna meets Pesna</div>
      </li>
      <li>
        <a href="#" class="thumb" ><img src="img/dummies/behindMe.png" alt="" />
        </a>
        <div class="caption">Is something following me?</div>
      </li>
    </ul>
    <!-- ENDS feature -->


  </div>
</div>
<!-- ENDS MAIN -->

<!-- FOOTER -->
<% include templates/footer.ejs %>
<!-- END FOOTER -->

