<% include templates/header.ejs%>



<!-- MAIN -->
<div role="main" id="main">
    <div class="wrapper">

        <!-- page-content -->
        <div class="page-content">

            <!-- entry-content -->
            <div class="entry-content cf">

                <h2><%= message1%></h2>
                <p><%= message2%></p>
            </div>
            <!-- ENDS entry-content -->

            <div class="c-1"></div>
            <div class="c-2"></div>
            <div class="c-3"></div>
            <div class="c-4"></div>
        </div><!-- ENDS page-content -->



    </div>
</div>
<!-- ENDS MAIN -->



<%  include templates/footer.ejs%>