
<!-- HEADER -->
<% include templates/header.ejs%>
<!-- ENDS HEADER -->


<!-- MAIN -->
<div role="main" id="main">
    <div class="wrapper">

        <!-- page-content -->
        <div class="page-content">

            <!-- entry-content -->
            <div class="entry-content cf">

                <h2>Team</h2>
                <p>Developers:</p>
                <li>Filip Gagiu</li>
                <li>Teodor Ciripescu</li>

            </div>
            <!-- ENDS entry-content -->

            <div class="c-1"></div>
            <div class="c-2"></div>
            <div class="c-3"></div>
            <div class="c-4"></div>
        </div><!-- ENDS page-content -->



    </div>
</div>
<!-- ENDS MAIN -->


<!-- FOOTER -->
<% include templates/footer.ejs %>
<!-- END FOOTER -->
